<%= stylesheet_link_tag "/css/table.css" %>
    <%= link_to "Upload new", "/" %>
        <table>
            <% @file.split(/\r?\n|\r\n?/).each do |line| %>
                <tr>
                    <% line.split(',').each do |value| %>
                        <td>
                            <%= value %>
                        </td>
                        <% end %>
                </tr>
                <% end %>
        </table>