<%= stylesheet_link_tag "/css/table.css" %>
<table>
	<% @file.split(/\r?\n|\r\n?/).each do |line| %>
		<tr>
			<% line.split(',').each do |value| %>
				<td>
					<%= value %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>